<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="row">
    <div class="col-sm-9">
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div class="col-sm-3">
      <button *ngIf="authService.isAuthenticated()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto col-sm-8">
            <li class="nav-item" routerLinkActive="active">
              <a *ngIf="authService.isAuthenticated()" class="nav-link" routerLink="/directivas">Regiones</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a *ngIf="authService.isAuthenticated()" class="nav-link" routerLink="/clientes">Clientes</a>
            </li>
          </ul>

        <div class="col-sm-4">
          <ul class="navbar-nav navbar-right">
            <li class="dropdown pull-right" *ngIf="authService.isAuthenticated()">
              <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{authService.user.username}}
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <button (click)="logout()" class="dropdown-item" type="submit">Sign Out</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
