<button type="button" name="button" class="btn btn-primary my-3 marrigto10" (click) = "setHabilitarLista(!habilitarLista)">{{habilitarLista?'Ocultar':'Mostrar'}}</button>
<button type="button" name="button_1" class="btn btn-primary my-3" (click) = "consultaDeRegiones()">Consultar listado de regiones</button>
<div class="card">
  <div class="card-header">
    Listado de regiones
  </div>
  <ul class="list-group" *ngIf="habilitarLista">
    <li class="list-group-item" *ngFor="let region of listadoRegiones">
      {{region.nombre}}
    </li>
  </ul>
</div>
